<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="tmDBContext" connectionString="data source=MSN\SQLEXPRESS; initial catalog=TaskMaster;trusted_connection=True; integrated security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>